/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #1F1147;
    --main-text-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {

    background-image: url(../src/assets/img/main_background.jpg);
    background-position: 0;
    background-size: cover;
}